<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>GroupMe Text Generator</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'TextGenerator/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'TextGenerator/css/added-styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'TextGenerator/css/bootstrap-social.css' %}" />   
        <link rel="stylesheet" type="text/css" href="{% static 'TextGenerator/css/font-awesome.min.css' %}" />

        <!-- Loading animation -->
        <link rel="stylesheet" type="text/css" href="{% static 'TextGenerator/css/line-scale.css' %}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1 class="text-center">GroupMe Text Generator</h1><br>
                <p>
                    This website uses the full GroupMe message history of our group chat to train a simple
                    text generation model for each individual group member and every member combined. To 
                    test it out, choose a person and token type and hit the 'Generate' button to generate 
                    a message based on their message history.
                </p>
                <p>
                    The token type tells the model to generate messages one word at a time or one
                    character at a time with the 'Word' and 'Character' options respectively.
                </p>
                <p>
                    For more information on how this works:
                </p>
                <p class="text-center">
                    <a class="btn btn-social btn-github" href="https://github.com/lpatino10/groupme-text-generator">
                        <span class="fa fa-github"></span>View on GitHub
                    </a>
                </p>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row">
                <div class="col-xs-2 col-s-2 hidden-md hidden-lg"></div>
                <div class="col-xs-8 col-s-8 col-md-4">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-lg btn-block btn-default dropdown-toggle" id="person-choice" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Person <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu btn-block" id="person-dropdown">
                            <li><a class="text-center">Logan</a></li>
                            <li><a class="text-center">McCoy</a></li>
                            <li><a class="text-center">Nick</a></li>
                            <li><a class="text-center">Brian</a></li>
                            <li><a class="text-center">Craig</a></li>
                            <li><a class="text-center">Zach</a></li>
                            <li><a class="text-center">Niel</a></li>
                            <li><a class="text-center">All</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-2 col-s-2 hidden-md hidden-lg"></div>
                <div class="clearfix hidden-md hidden-lg"></div>
                <div class="col-xs-2 col-s-2 hidden-md hidden-lg"></div>
                <div class="col-xs-8 col-s-8 col-md-4">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-lg btn-block btn-default dropdown-toggle" id="token-type-choice" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Token type <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu btn-block" id="token-type-dropdown">
                            <li><a class="text-center">Word</a></li>
                            <li><a class="text-center">Character</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-2 col-s-2 hidden-md hidden-lg"></div>
                <div class="clearfix hidden-md hidden-lg"></div>
                <div class="col-xs-2 col-s-2 hidden-md hidden-lg"></div>
                <div class="col-xs-8 col-s-8 col-md-4">
                    <button type="button" class="btn btn-lg btn-block btn-primary" id="generate-button">Generate</button>
                </div>
                <div class="col-xs-2 col-s-2 hidden-md hidden-lg"></div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="la-line-scale center-block" style="display: none;" id="loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h4 id="message"></h4>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Main js file -->
        <script src="{% static 'TextGenerator/js/text-configurer.js' %}"></script>
    </body>
</html>